<%= form_tag({}, {method: 'post', class: 'form-horizontal col-sm-6', role: 'form'}) do %>
  <h3>Datencenter</h3>
  <div class="">
    <span class="btn btn-success fileinput-button">
      <i class="glyphicon glyphicon-plus"></i>
      <span>Dateien auswählen</span>
      <input type="file" name="files[]" multiple="">
    </span>
    <div class="popover fade right in"><div class="arrow" style=""></div><h3 class="popover-title">A Title</h3><div class="popover-content">And here's some amazing content. It's very engaging. right?</div></div>
  </div>
<% end %>
<div class="col-sm-6" id="orderDetails">
  <%= render partial: "orders/show/details" %>  
</div>
<%= render partial: "orders/show/form" %>
<%= javascript_include_tag "upload/app", "data-turbolinks-track" => true %>